server {
  listen $PORT default_server;

  rewrite ^/index.html$ /index/index.html permanent;
	rewrite ^/index$ /index/index.html permanent;

	rewrite ^/chart.html$ /chart/chart.html permanent;
	rewrite ^/chart$ /cahrt/chart.html permanent;
}