server {
	listen $PORT default_server;
	
	location = /index.html {
		rewrite ^/index.html$ /index/index.html permanent;
	}
	
	location = /index.htm {
		rewrite ^/index.htm$ /index/index.html permanent;
	}
	
	location = /index {
		rewrite ^/index$ /index/index.html permanent;
	}
	
	location = /chart.html {
		rewrite ^/chart.html$ /chart/chart.html permanent;
	}
	
	location = /chart {
		rewrite ^/chart$ /cahrt/chart.html permanent;
	}
}