server {
  listen $PORT default_server;

  location / {
    root   /usr/share/nginx/html;
	
	location = / {
            rewrite ^/$ /index.html;
        }
	
    location = /index {
            rewrite ^/index$ /index.html;
        }
	location = /chart {
            rewrite ^/chart$ /chart.html;
        }
  }
 
}